/* fonts link
============= */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Sono:wght@200;300;600;700;800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

/**Root styles set
*******************/
:root {
    --black: #131313;
    --grey: #424242;
    --light-grey: #727272;
    --orange: #FF900E;
    --white: #ffffff;
    --light-orange: #FF900E1A;
}

/* common styles
***************** */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1450px;
    width: 100%;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    background-color: var(--orange);
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    color: var(--white);
}

/* nav-bar styles
================= */
.banner-and-nav {
    background-color: var(--light-orange);
    margin-bottom: 85px;
}

.nav-bar {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}

.navigation ul {
    display: flex;
    list-style: none;

}

.navigation ul li {
    margin-left: 50px;
    font-weight: 500;
    font-size: 18px;
    color: var(--grey);
}

/* banner styles
================ */
.banner-text {
    text-align: center;
    margin: 100px 0 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--black);
}

.banner-description,
.team-description,
.features-discription {
    font-size: 16px;
    color: var(--light-grey);
    line-height: 1.5em;
    margin: 25px 0 30px;
}

.banner-img {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}

/* team section styles
====================== */
.team {
    display: flex;
    align-items: center;
    column-gap: 70px;
    flex-wrap: wrap;
    margin: 0 40px 130px;

}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-text {
    max-width: 540px;
    width: 100%;
}

.team-title {
    font-weight: 700;
    font-size: 45px;
}

.light-grey-text {
    font-weight: 500;
    color: var(--light-grey);
}

.orange-text {
    color: var(--orange);
}

/* team description styles are on the banner description style */

/* features section styles
========================== */
.features {
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.features-list {
    max-width: 585px;
    width: 100%;
}

.features-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
    padding-left: 20px;
    border-left: 5px solid var(--orange);

}

/* features-discription styles are on the banner description style */

.feature {
    padding: 30px;
    margin-bottom: 20px;
    background: var(--white);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature h3 {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    margin-bottom: 10px;
}

.feature p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: var(--light-grey);

}

.features-img {
    padding-left: 92px;
    position: relative;
}

.big-btn {
    background-color: var(--orange);
    border: none;
    padding: 45px 42px;
    border-radius: 8px;
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 0px;
    top: 860px;
}

.big-btn>span {
    font-weight: 700;
    font-size: 65px;

}